/*
Colors used:
Background Color (White): #fffff;
Primary Color : #7ca0a5 or rgb(124,160,165);
Secondary Color (Black): #00000;
*/


header {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .navlist {
    display: none;
    }
    nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    }
    nav > ul > li > a {
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    }
    .navtoggle {
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
    }
    body {
    margin: 0;
    padding-top: 200px;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px; /* Sets the font size to 17px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #000000;
    }
    
    
    h1,
    h2,
    h3 {
    line-height: 1.4;
    }
    
    
    h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 400;
    }
    h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 400;
    }
    h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    font-weight: 400;
    }
    
    
    img {
    width: 100%;
    }
    
    
    /*links and buttons*/
    
    
    nav a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s; /* Smooth transition for color change */
    }
    
    
    nav a:hover {
    color: black; /* Change text color on hover */
    }
    
    
    nav .active a {
    color: white; /* Style the active (current) page link */
    }
    
    
    .button {
    color: #fff; /* Set text color */
    font-weight: 300;
    padding: 12px 50px; /* Adjust padding as needed */
    border-radius: 50px; /* Set border radius for rounded corners */
    border: 1px solid rgba(124,160,165); /* Add a subtle border */
    cursor: pointer; /* Add pointer cursor on hover */
    background-color: rgba(124,160,165);
    float: left;
    text-decoration: none;
    }
    
    
    .button:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    text-decoration: none;
    }
    
    
    .contact {
    color: rgba(124,160,165);
    background-color:#fff;
    }
    
    
    .contact:hover {
    color: rgba(124,160,165);
    background-color:#fff;
    border: 1px solid green;
    }
    
    
    /*layout*/
    .container {
    padding: 0 15px;
    }
    
    
    /*header*/
    header {
    background-color: rgba(124,160,165);
    width: 100%;
    position: fixed;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; /* Sets the font size to 14px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #ffffff;
    text-align: right;
    overflow: hidden; /* Hide the overflowing content (e.g., corners of the rotating logo) */
    }
    
    
    .logo {
    max-width: 150px;
    float: left;
    animation: rotateAnimation 5s infinite linear;
    }
    
    
    .logo {
    max-width: 150px;
    float: left;
    }
    
    
    nav {
    float: right;
    }
    nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    nav li {
    display: inline-block;
    margin-left: 20px;
    }
    section[id="Intro"] {
    display: flex;
    align-items: center;
    padding: 20px;
    }
    .text-container {
    text-align: right;
    flex-grow: 1;
    }
    
    
    section[id="Thank You"] {
    display: flex;
    align-items: center;
    padding: 20px;
    }
    .text-container {
    text-align: right;
    flex-grow: 1;
    }
    
    
    .text-container h1,
    .text-container h3,
    .text-container p {
    text-align: left;
    max-width: 800px;
    }
    
    
    .text-container h1 .highlighted-word {
    color: rgba(124,160,165);
    }
    
    
    .text-container p strong {
    font-weight: bold;
    }
    /*footer*/
    
    
    footer {
    background-color: rgba(124,160,165);
    padding: 30px 0 30px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; /* Sets the font size to 14px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #ffffff;
    text-align: left;
    }
    
    
    .footer-right {
    text-align: right;
    }
    
    
    footer a {
    color: #ffffff; /* White text color */
    text-decoration: underline;
    }
    footer a:hover {
    color: #000000; /* Black text color on hover */
    }
    
    
    .social-img {
    height: 40px;
    width: auto;
    }
    
    
    .social-img:hover {
    height: 40px;
    width: auto;
    transform: scale(1.1);
    }
    
    
    .social-icons {
    margin-top: 20px;
    }
    .social-icons a {
    margin-right: 20px;
    }
    
    
    
    
    /*About page*/
    
    
    #roundImage {
    width: 300px; /* Set the width size to 300px */
    height: 300px; /* Set the height size to 300px */
    border-radius: 50%; /* Make it round */
    }
    
    
    
    
    /*media queries - breakpoints for devices*/
    
    
    /* ==============================
    Medium devices (640px and larger)
    ================================= */
    @media only screen and (min-width: 640px) {
    }
    
    
    header {
    text-align: right;
    padding: 20px 0 13px;
    }
    
    
    nav {
    width: auto;
    float: right;
    margin-top: 4px;
    }
    
    
    .logo {
    max-width: 100px; /
    }
    
    
    .col-md-6 {
    width: 50%;
    }
    
    
    [class*="col-"] {
    float: left;
    }
    
    
    .row::after {
    content: "";
    clear: both;
    display: table;
    }
    
    
    /* ==============================
    Large devices (1024px or larger)
    ================================= */
    @media only screen and (min-width: 1024px) {
    
    
    .container {
    padding: 0 0px;
    max-width: 1000px;
    margin: 0 auto;
    }
    }
    
    
    header {
    text-align: right; /* Adjust text-align for header on large devices */
    padding: 20px 0 13px;
    }
    
    
    nav {
    width: auto;
    float: right;
    margin-top: 4px;
    }
    
    
    .logo {
    max-width: 120px; /* Adjust max-width for logo on large devices */
    }
    
    
    .col-md-6 {
    width: 50%;
    }
    
    
    [class*="col-"] {
    float: left;
    }
    
    
    .row::after {
    content: "";
    clear: both;
    display: table;
    }
    
    
    /* ==============================
    X-large devices (1440px or larger)
    ================================= */
    @media only screen and (min-width: 1440px) {
    }
    
    
    header {
    text-align: right; /* Adjust text-align for header on x-large devices */
    padding: 20px 0 13px;
    }
    
    
    nav {
    width: auto;
    float: right;
    margin-top: 4px;
    }
    
    
    .logo {
    max-width: 150px; /* Adjust max-width for logo on x-large devices */
    }
    
    
    .col-md-6 {
    width: 50%;
    }
    
    
    [class*="col-"] {
    float: left;
    }
    
    
    .row::after {
    content: "";
    clear: both;
    display: table;
    }
    
    
    /* Animation */
    
    
    @keyframes rotateAnimation {
    from {
    transform: rotate(0deg); /* Start rotation from 0 degrees */
    }
    to {
    transform: rotate(360deg); /* Rotate to 360 degrees */
    }
    }
    
    
    .logo {
    max-width: 150px;
    float: left;
    animation: rotateAnimation 5s infinite linear; /* Rotate the logo element infinitely over 5 seconds */
    }
    